sofi-campaign/workflows/n8n_workflow.json
{
  "name": "SoFi Tournament Lead Audit Pipeline",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "hours", "minutesInterval": 2 }]
        }
      },
      "id": "trigger-schedule",
      "name": "Schedule Trigger (Every 2h)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [0, 300]
    },
    {
      "parameters": {
        "application": "={{ $env.AIRTABLE_BASE_ID }}",
        "table": "Leads",
        "filterByFormula": "AND({Audit_Completed}=FALSE(), {Website}!='')",
        "maxRecords": 20,
        "sort": [{ "field": "ReviewCount", "direction": "desc" }]
      },
      "id": "airtable-read",
      "name": "Airtable – Unaudited Leads",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [250, 300],
      "credentials": { "airtableTokenApi": { "id": "airtable-cred", "name": "Airtable" } }
    },
    {
      "parameters": {
        "values": {
          "string": [
            { "name": "business_name", "value": "={{ $json.fields.Name }}" },
            { "name": "website", "value": "={{ $json.fields.Website }}" },
            { "name": "email", "value": "={{ $json.fields.Email }}" },
            { "name": "address", "value": "={{ $json.fields.Address }}" },
            { "name": "neighborhood", "value": "={{ $json.fields.Neighborhood }}" },
            { "name": "rating", "value": "={{ $json.fields.GoogleRating }}" },
            { "name": "review_count", "value": "={{ $json.fields.ReviewCount }}" },
            { "name": "record_id", "value": "={{ $json.id }}" }
          ]
        }
      },
      "id": "set-vars",
      "name": "Set Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [500, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v1/scrape",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.FIRECRAWL_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "url", "value": "={{ $json.website }}" },
            { "name": "formats", "value": "[\"markdown\"]" }
          ]
        },
        "options": { "timeout": 30000 }
      },
      "id": "firecrawl-scrape",
      "name": "Firecrawl – Scrape Website",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-6\",\n  \"max_tokens\": 1024,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"<role>\\nYou are a local SEO strategist auditing an LA-area hospitality business exactly 25 days before the FIFA World Cup 2026 kickoff at SoFi Stadium (June 12, 2026). You produce concise, evidence-based audits for personalized cold outreach. Be brutally specific. Never fabricate data.\\n</role>\\n\\n<context>\\nMATCH SCHEDULE & SEARCH PEAKS:\\n- June 12 (USA v Paraguay): BIGGEST SPIKE\\n- June 25 (USA v Turkey): HIGH TURKISH-AMERICAN SEARCH\\n- June 21 (Belgium v Iran): HIGH IRAN DIASPORA SEARCH\\n\\nBUSINESS DATA:\\nBusiness Name: {{ $('Set Variables').item.json.business_name }}\\nLocation: {{ $('Set Variables').item.json.address }}, {{ $('Set Variables').item.json.neighborhood }}\\nRating: {{ $('Set Variables').item.json.rating }} ({{ $('Set Variables').item.json.review_count }} reviews)\\nWebsite: {{ $('Set Variables').item.json.website }}\\n\\nFIRECRAWL WEBSITE CONTENT:\\n{{ $json.data.markdown.substring(0, 3000) }}\\n\\nCOMPETITIVE DATA:\\nQuery: \\\"{{ $('Set Variables').item.json.neighborhood }} world cup watch party\\\"\\nTop Competitor: Springbok Bar & Grill\\n</context>\\n\\n<task>\\nProduce exactly 6 sections:\\n1. VERDICT (1 line): \\\"tournament_ready\\\" | \\\"partial\\\" | \\\"not_ready\\\"\\n2. TOP 3 RANKING GAPS\\n3. HIGHEST-LEVERAGE FIX (≤30 words)\\n4. PERSONALIZATION HOOK (≤25 words)\\n5. ESTIMATED TRAFFIC LOSS (low/medium/high + reasoning)\\n6. NATIONALITY ANGLE (if applicable, else null)\\nReturn ONLY valid JSON.\\n</task>\\n\\n<output_format>\\n{\\\"business_name\\\":\\\"\\\",\\\"neighborhood\\\":\\\"\\\",\\\"verdict\\\":\\\"\\\",\\\"ranking_gaps\\\":[{\\\"gap\\\":\\\"\\\",\\\"evidence\\\":\\\"\\\",\\\"fixability_days\\\":1}],\\\"highest_leverage_fix\\\":\\\"\\\",\\\"personalization_hook\\\":\\\"\\\",\\\"estimated_traffic_loss\\\":{\\\"level\\\":\\\"\\\",\\\"reasoning\\\":\\\"\\\"},\\\"nationality_angle\\\":null,\\\"priority_score\\\":0,\\\"audit_timestamp\\\":\\\"\\\"}\\n</output_format>\"\n    }\n  ]\n}",
        "options": { "timeout": 60000 }
      },
      "id": "claude-audit",
      "name": "Claude – Run Audit",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.content[0].text;\nlet audit = {};\ntry {\n  audit = JSON.parse(raw);\n} catch(e) {\n  const start = raw.indexOf('{');\n  const end = raw.lastIndexOf('}') + 1;\n  if (start >= 0 && end > start) {\n    audit = JSON.parse(raw.substring(start, end));\n  }\n}\nconst gaps = audit.ranking_gaps || [];\nreturn [{\n  json: {\n    record_id: $('Set Variables').item.json.record_id,\n    verdict: audit.verdict || '',\n    highest_leverage_fix: audit.highest_leverage_fix || '',\n    personalization_hook: audit.personalization_hook || '',\n    priority_score: audit.priority_score || 0,\n    traffic_loss_level: (audit.estimated_traffic_loss || {}).level || '',\n    traffic_loss_reasoning: (audit.estimated_traffic_loss || {}).reasoning || '',\n    nationality_angle: audit.nationality_angle || null,\n    ranking_gap_1: (gaps[0] || {}).gap || '',\n    ranking_gap_2: (gaps[1] || {}).gap || '',\n    ranking_gap_3: (gaps[2] || {}).gap || '',\n    audit_timestamp: audit.audit_timestamp || new Date().toISOString(),\n  }\n}];"
      },
      "id": "parse-json",
      "name": "Parse Audit JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "application": "={{ $env.AIRTABLE_BASE_ID }}",
        "table": "Leads",
        "id": "={{ $json.record_id }}",
        "updateAllFields": false,
        "fields": {
          "fieldValues": [
            { "fieldId": "Audit_Completed", "fieldValue": true },
            { "fieldId": "Audit_Verdict", "fieldValue": "={{ $json.verdict }}" },
            { "fieldId": "Audit_Priority_Score", "fieldValue": "={{ $json.priority_score }}" },
            { "fieldId": "Personalization_Hook", "fieldValue": "={{ $json.personalization_hook }}" },
            { "fieldId": "Highest_Leverage_Fix", "fieldValue": "={{ $json.highest_leverage_fix }}" },
            { "fieldId": "Estimated_Traffic_Loss", "fieldValue": "={{ $json.traffic_loss_level }}" }
          ]
        }
      },
      "id": "airtable-update",
      "name": "Airtable – Save Audit",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [1500, 300],
      "credentials": { "airtableTokenApi": { "id": "airtable-cred", "name": "Airtable" } }
    }
  ],
  "connections": {
    "Schedule Trigger (Every 2h)": {
      "main": [[{ "node": "Airtable – Unaudited Leads", "type": "main", "index": 0 }]]
    },
    "Airtable – Unaudited Leads": {
      "main": [[{ "node": "Set Variables", "type": "main", "index": 0 }]]
    },
    "Set Variables": {
      "main": [[{ "node": "Firecrawl – Scrape Website", "type": "main", "index": 0 }]]
    },
    "Firecrawl – Scrape Website": {
      "main": [[{ "node": "Claude – Run Audit", "type": "main", "index": 0 }]]
    },
    "Claude – Run Audit": {
      "main": [[{ "node": "Parse Audit JSON", "type": "main", "index": 0 }]]
    },
    "Parse Audit JSON": {
      "main": [[{ "node": "Airtable – Save Audit", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [{ "name": "sofi-tournament" }],
  "triggerCount": 1,
  "updatedAt": "2026-05-19T00:00:00.000Z",
  "versionId": "1"
}
